<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">الرئيسية</a></li>
            <li><a href="{{ url_for('about') }}">عن الموقع</a></li>
            <li><a href="{{ url_for('services') }}">الخدمات</a></li>
            <li><a href="{{ url_for('contact') }}">التواصل</a></li>
        </ul>
    </nav>
    <div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
